services:
  device-registry-service:
    image: plant-profile-service:latest
    container_name: plant-profile-service
    restart: unless-stopped

    ports:
      # expose your app externally (change left side if you want)
      - "8085:8085"

    environment:
      # Spring Boot
      SERVER_PORT: "8086"
      SPRING_PROFILES_ACTIVE: "docker"

      # Kafka (remote)
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "${KAFKA_BROKERS}"
      SPRING_MONGODB_URI: "mongodb://${MONGO_USER}:${MONGO_PASS}@${MONGO_HOST}:27017/gladys_db?authSource=admin"

    # Optional: if the remote services are not reachable without brokerUri DNS
    # dns:
    #   - 1.1.1.1
    #   - 8.8.8.8
